.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 525px;
    background-color: darkgrey;
}

.display {
    width: 95%;
    height: 20%;
    background-color: black;
    color: whitesmoke;
}

.keyboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 75%;
    background-color: lightslategrey;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: magenta;
}